@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(243, 243, 243);
  color: #363636;
}
header {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem;
}
input[type="text"] {
  appearance: none;
  padding: 0.4rem;
  width: 6rem;
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}
button[type="submit"] {
  appearance: none;
  padding: 0.35rem;
  width: 2rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.fa-building-columns {
  font-size: 3rem;
}
main {
  display: flex;
  width: 50rem;
  height: 38rem;

  margin: 4rem auto;
}
.display-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30rem;
  height: 38rem;
}
.hidden {
  display: none;
}

.operation-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  height: 38rem;
}
.box {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  height: 8rem;
  box-shadow: 0 4px 8px gray;
}
.display {
  height: 28rem;
  background-color: white;
  overflow-y: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px gray;
}
.box h4 {
  text-align: center;

  padding-bottom: 1rem;
}
.inputs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.box label {
  margin-right: 0.8rem;
}
.box input {
  appearance: none;
  padding: 0.3rem;
  width: 6.5rem;
  margin: 0;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.transfer {
  background-image: linear-gradient(135deg, #cac531, #f3f9a7);
}
.request {
  background-image: linear-gradient(135deg, #56ab2f, #a8e063);
}
.close {
  background-image: linear-gradient(135deg, #7b4397, #dc2430);
}
.exemple {
  padding: 1rem;
  display: flex;
  text-align: center;
  border-bottom:2px solid #363636;
}
.solde {
  text-align: end;
  font-size: 2rem;
  padding-right: 1rem;
  height: 2rem;
}
.display-section h3 {
  font-size: 2rem;
}
.display-section span {
  padding-left: 1rem;
}
.statistic {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

p {
  display: inline;
  flex-basis: 25%;
}
#sort {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
}
.chrono {
  text-align: end;
  padding: 0 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.chrono > span {
  font-weight: bolder;
}
.solde-devision {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2.4rem;
}
.solde-devision > span {
  flex-basis: 10%;
  font-size: 2rem;
  font-weight: bolder;
}
#in {
  color: #56ab2f;
  font-size: 1.2rem;
  font-weight: bolder;
}
#out {
  color: red;
  font-size: 1.2rem;
  font-weight: bolder;
}
#interest {
  font-size: 1.2rem;
  font-weight: bolder;
}

.inputs > button[type="submit"] {
  padding: 0.3rem;
  
}
.dep {
  background-color: #56ab2f;
  border-radius: 1rem;
  color: white;
}
.wit {
  background-color: red;
  border-radius: 1rem;
  color: white;
}
.display-section>.disp-div>header{
  margin: 0;
  width: 30rem;
}
.disp-div{
  display: flex;
  flex-direction: column;
}
.disply-header{
  margin-top: 0.5rem;
 display: flex;
 width: 30rem;
 text-align: center;



}
nav{
  position: fixed;
  top: 0;
  font-weight: bolder;
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 12px;
  }
}
